.author__avatar {
    width: 200px;  /* 设置容器的宽度 */
    height: 300px;  /* 设置容器的高度 */
}

.author__avatar-img {
    width: 100%;  /* 使图片填充容器的宽度 */
    height: 100%;  /* 使图片填充容器的高度 */
    border-radius: 20%;  /* 设置图片的边角圆角半径 */
    object-fit: cover;  /* 确保图片填满容器 */
}
